package components

templ DirectoryServiceInstructions() {
  <div class="help-content" id="directory-service-instructions">
    <h3>Setting Up KAMAR Directory Service</h3>

    <div class="intro">
      <p>
        
      </p>
      <p>
        KAMAR's official documentation can be found <a href="https://directoryservices.kamar.nz/">here</a>.
      </p>
    </div>
  </div>
}