package components

templ Hero(displayClassName string) {
  <div class={"hero-container", displayClassName}>
    <h1 class="hero-title header">KAMAR Listener Dashboard</h1>
    <h2 class="hero-subtitle">check your listener's health</h2>
  </div>
}