package components

import "github.com/mjefferson-whs/listener/internal/data"
import "strconv"

templ LogDetail(log data.Log) {
  <div class="log-detail-container">
    <p><strong>ID:</strong>{ strconv.Itoa(log.ID) }</p>
    <h3>{ log.Message }</h3>
    <h4>{ log.Time }</h4>
  </div>
}