package components

templ PowerBIInstructions() {
  <div class="help-content"id="powerbi-instructions">
    <h3>Connecting your KAMAR data to PowerBI</h3>

    <div class="intro">
      <p>
        To connect your KAMAR data to PowerBI, you will need to point PowerBI to the SQLite database files on your computer.
      </p>
    </div>
  </div>
}