package widgets

import "fmt"

templ DBSize(s float64) {
  <div class="widget">
    <p>
      <strong>Database Size on Disk:</strong> { fmt.Sprintf("%.2f megabytes", s) }
      <br>
      <br>
      @OpenDataFolderButton()
    </p>
  </div>
}