package widgets

import (
  "fmt"

  "github.com/mjefferson-whs/listener/internal/data"
  "github.com/mjefferson-whs/listener/ui/components"
)

templ ErrorLogs(totalCount int, errorLogs []*data.Log) {
  <div class="widget">
    <p>
      <a href="/logs?level=ERROR"  class="button-link"><strong>Total Errors:</strong> { fmt.Sprintf("%d", totalCount) }</a>
    </p>
    <div class="scroll-window">
      @components.LogList(errorLogs)
    </div>
  </div>
}