package widgets

import "time"

templ LastUpdateTime(t time.Time) {
  <div class="widget">
    <p>
      if t.IsZero() {
        <strong>Last Update:</strong> None
      } else {
        <strong>Last Update:</strong> { time.Since(t).String() } ago.
      }
    </p>
  </div>
}