package widgets

import (
  "fmt"
  
  "github.com/michaelcjefferson/kamar-listener/internal/data"
  "github.com/michaelcjefferson/kamar-listener/ui/components"
)

templ Logs(totalCount int, logs []*data.Log) {
  <div class="widget">
    <p>
      <a href="/logs" class="button-link"><strong>Total Logs:</strong> { fmt.Sprintf("%d", totalCount) }</a>
    </p>
    <div class="scroll-window">
      @components.LogList(logs)
    </div>
  </div>
}