package widgets

import "fmt"

templ RecordCount(today, total int) {
  <div class="widget">
    <p>
      <strong>Records Received Today:</strong> { fmt.Sprintf("%d", today) }
      <br>
      <br>
      <strong>Total Records:</strong> { fmt.Sprintf("%d", total) }
    </p>
  </div>
}