package widgets

import "github.com/mjefferson-whs/listener/internal/data"

templ WidgetContainer(w data.WidgetData) {
  <div id="widget-container">
    @LastUpdateTimes(w.LastCheckTime, w.LastInsertTime)
    @RecordCount(w.RecordsToday, w.TotalRecords)
    @DBSize(w.DBSize)
    @Logs(w.TotalLogs, w.RecentLogs)
    @ErrorLogs(w.TotalErrors, w.RecentErrorLogs)
  </div>
}