package views

import (
  "github.com/mjefferson-whs/listener/internal/data"
  "github.com/mjefferson-whs/listener/ui/components"
)

templ Authenticated(u *data.User) {
  @Base() {
    <div class="layout-container">
      @components.NavBar(u)
      <div class="main-content">
        { children... }
      </div>
    </div>
  }
}