package views

import (
  "github.com/mjefferson-whs/listener/internal/data"
  "github.com/mjefferson-whs/listener/ui/components"
)

templ Authenticated(u *data.User) {
  @Base() {
    @components.NavBar("home", u)
    { children... }
    @components.LogOutButton()
  }
}