package views

import "github.com/mjefferson-whs/listener/ui/components"
import "github.com/mjefferson-whs/listener/internal/data"

// templ Dashboard() {
//   @Base() {
//     @components.NavBar("home")
//     @components.Hero("center")
//     @components.LogOutButton()
//   }
// }

templ DashboardPage(u *data.User) {
  @Authenticated(u) {
    @components.Hero("center")
  }
}