package views

import (
  "github.com/mjefferson-whs/listener/ui/components"
  "github.com/mjefferson-whs/listener/internal/data"
)

templ DashboardPage(u *data.User, kamarAuthSet bool, w WidgetData) {
  @Authenticated(u) {
    @components.Hero("center")

    if !kamarAuthSet {
      @components.KamarAuthForm()
    } else {

    }
  }
}