package views

import (
  "github.com/michaelcjefferson/kamar-listener/ui/components"
  "github.com/michaelcjefferson/kamar-listener/ui/widgets"
  "github.com/michaelcjefferson/kamar-listener/internal/data"
)

templ DashboardPage(u *data.User, w data.WidgetData) {
  @Authenticated(u) {
    @components.Hero("center")

    @widgets.WidgetContainer(w)
  }
}