package views

import "github.com/mjefferson-whs/listener/ui/components"
import "github.com/mjefferson-whs/listener/internal/data"

templ IndividualLogPage(log data.Log, ref string, u *data.User) {
  @Authenticated(u) {
    <h2>Logs Page</h2>

    if ref != "" {
      <a href={ templ.SafeURL(ref) }>BACK</a>
    } else {
      <a href="/logs">BACK</a>
    }

    @components.LogDetail(log)
  }
}