package views

import (
  "github.com/michaelcjefferson/kamar-listener/ui/components"
  "github.com/michaelcjefferson/kamar-listener/internal/data"
)

templ IndividualLogPage(log data.Log, ref string, u *data.User) {
  @Authenticated(u) {
    @components.LogDetail(log)

    if ref != "" {
      <a href={ templ.SafeURL(ref) } class="button-link">BACK</a>
    } else {
      <a href="/logs" class="button-link">BACK</a>
    }
    <br>
    <br>
  }
}