package views

import (
  "github.com/mjefferson-whs/listener/ui/components"
  "github.com/mjefferson-whs/listener/internal/data"
)

templ LogsPage(logs []data.Log, metadata data.Metadata, logsMetadata *data.LogsMetadata) {
  @Authenticated() {
    <h2>Logs Page</h2>

    @components.LogFilters(logsMetadata)

    @components.LogsContainer(logs, metadata)
  }
}